#Rename the file to wrangler.toml if you are using Cloudflare D1

name = "npsnav"
compatibility_date = "2024-01-01"

[[d1_databases]]
binding = "DB"
database_name = "your_database_name" #update it with your database name
database_id = "your_database_id"  #update it with your database id