<footer>
    <div class="disclaimer">
        <h3>Disclaimer:</h3>
        <p>The information provided on this website is sourced from daily updates by <a href="https://www.npscra.nsdl.co.in/nav-search.php" target="_blank">Protean eGov Technologies Limited</a> (formerly NSDL e-Governance Infrastructure Limited). While we strive for accuracy, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability of the information, products, services, or related graphics contained on this website. Any reliance you place on such information is strictly at your own risk. In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>
    </div>
    <div class="contact-info">
        <p>Encountered an error or have an issue with the website? Please <a href="https://github.com/rishikeshsreehari/npsnav/issues/new" target="_blank">create an issue here</a> or <a href="/cdn-cgi/l/email-protection#452d2029292a05302b2c37242b2e6b2a2b20">get in touch with us</a>.</p>
    </div>
    <div class="contribute">
        <p>Want to contribute? Check out the <a href="https://github.com/rishikeshsreehari/npsnav" target="_blank">GitHub repository</a>.</p>
    </div>
    <div class="copyright">
        <p>&copy; 2024 | Made by <a href="https://rishikeshs.com" target="_blank">Rishikesh</a> | v1.0.2</p>
    </div>
</footer>
