<header>
    
    <div class="logo">
        <a href="/" class="logo-link">NPSNAV.in</a>
    </div>
<div class="announcement-banner">
    <div class="announcement-content">
        <p class="announcement-text">
            <span class="announcement-icon">⚠️</span> 
            <strong>Data updation issue:</strong> We are experiencing issues with our data collection due to problems at the source (<a href="https://www.npscra.nsdl.co.in/nav-search.php" target="_blank">NSDL</a>). The data was last updated on 27-06-2025. We are actively working on a fix to address this issue and will restore normal updates soon. We apologize for any inconvenience caused.
        </p>
    </div>
</div>

</header>

