{% extends 'base.html' %}

{% block title %}NPSNAV.in - List of All NPS Schemes and Codes{% endblock %}
{% block description %}Access the complete list of NPS scheme names and their corresponding scheme codes. Use our API to fetch the latest NAV of National Pension Scheme (NPS) funds.{% endblock %}
{% block keywords %}NPS, NAV, National Pension Scheme, Scheme Codes, NPS API, Pension Funds, India{% endblock %}
{% block og_title %}NPS Fund NAV API - Complete List of Scheme Names and Codes{% endblock %}
{% block og_description %}Discover the complete list of NPS schemes and their codes. Use our simple API to integrate NPS NAVs into your financial planning tools like Google Sheets and Excel.{% endblock %}
{% block og_url %}https://npsnav.in/nps-funds-list{% endblock %}
{% block canonical %}https://npsnav.in/nps-funds-list{% endblock %}

{% block content %}
<div class="container">
    <h2>NPS Fund Schemes and Codes</h2>
    <p>Below is a list of all the National Pension Scheme (NPS) funds, including their names and corresponding scheme codes. Use this information to access the latest NAV for any scheme via our API. <a href="/nps-api">Learn more about how to use the API</a></p>

    <table class="simple-table">
        <thead>
            <tr>
                <th>Scheme Name</th>
                <th>Scheme Code</th>
            </tr>
        </thead>
        <tbody>
            {% for scheme in schemes %}
            <tr>
                <td>{{ scheme.Scheme_Name }}</td>
                <td>{{ scheme.Scheme_Code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
